fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
pydantic-settings==2.7.1
SQLAlchemy==2.0.36
python-multipart==0.0.20
mutagen==1.47.0
Pillow==11.0.0
regex==2024.11.6
argon2-cffi==23.1.0
itsdangerous==2.2.0
